This is my web server - {{ inventory_hostname }}
This is my web server - {{ inventory_hostname }}
This is my web server - {{ inventory_hostname }}
This is my web server - {{ inventory_hostname }}
This is my web server - {{ inventory_hostname }}
This is my web server - {{ inventory_hostname }}
