-- Inventory host name : {{ ansible_facts['fqdn'] }} 
-- Total memory in MB: {{ ansible_facts['memtotal_mb'] }}
-- BIOS version:  {{ ansible_facts['bios_version'] }} 
-- Size of disk device vda:  {{ ansible_facts['devices']['vda']['size'] }} 
-- Size of disk device vdb: {{ ansible_facts['devices']['vdb']['size'] }}
